# =============================================
# Public variables (exposed on the frontend)
# =============================================

# MultiversX chain (can be devnet, testnet, mainnet)
NEXT_PUBLIC_MULTIVERSX_CHAIN = devnet

# Wallet Connect 2 Project Id. This one will work only with this project
# Get yours at: https://cloud.walletconnect.com/sign-in
NEXT_PUBLIC_WC_PROJECT_ID = 119c4b074928341b4f46fe1a850c4f9b

# This is basically the main domain of your dapp
NEXT_PUBLIC_DAPP_HOST = http://localhost:3000

# The sorce of Piggy Bank smart contract to deploy
NEXT_PUBLIC_PIGGY_BANK_SC_SOURCE = https://raw.githubusercontent.com/xdevguild/piggy-bank-sc/master/output/piggybank.wasm
